.dashboardrewards{
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
 
  letter-spacing: 0.01em;
  padding-left: 190px;
  padding-bottom:100px;
  a{
    color:white;
    margin-right: 20px;
    text-decoration: none;
    &:last-child{
      margin-right: 0px;
      text-decoration: none;
    }
  }
 .threedivs{
  display: flex;
  flex-direction: row;
  .threedivsitem{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 160px;
  height: 40px;
  font-size: 22px;
  letter-spacing: 0.01em;
  border: 1px solid #3AAC59;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 20px;
  &:last-child{
    margin-right: 0px;
  }
  &:hover{
   cursor: pointer;
   border: 1px solid #fff;
   color:white;
 
  }
  }
  .threedivsitem1{
    background: #3AAC59;  
    &:hover{
      cursor: pointer;
      background: #2C9A4A;
      border: 1px solid #3AAC59;
     }
  }
 }

  .reward{
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.01em;
    margin-top: 70px;
    margin-bottom: 70px;
  }

 .moneytable{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
  margin-bottom:30px;
  width: 95%;
  .setir{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding-bottom: 7px;
    padding-right: 15px;
    word-wrap: break-word;
    width: 100%;
    
    &:first-child{
      margin-top: 0px;
      border-bottom: 2px solid #fff;
    }
    .sutun1{
      width: 25%;
      
    }
    .sutun2{
      width: 35%;
    
    }
    .sutun3{
      width: 20%;
    }
    .sutun4{
      width: 20%;
    }

    .sutun{
      height: auto;
      text-align: left; 
      font-weight: 500;
      font-size: 20px;
      padding-right: 15px;
      white-space: nowrap;
      &:last-child{
        margin-right: 0px;
      }
    }
    .sutunheader{
      font-weight: 600;
      font-size: 24px;
     
     
    }

  }

 }

  
}
@media only screen and (max-width: 1326px){
  .dashboardrewards{
    padding-left: 30px; 
  }
}

@media only screen and (max-width: 1110px){
  .dashboardrewards{
    .moneytable{
      .setir{  
        .sutun{
          font-size: 16px;       
        }
        .sutunheader{       
          font-size: 18px;        
        }
      }
    }
  }
}


@media only screen and (max-width: 832px){
  .dashboardrewards{
    .moneytable{
      .setir{  
        .sutun{
          font-size: 14px;       
        }
        .sutunheader{       
          font-size: 14px;        
        }
      }
    }
  }
}

@media only screen and (max-width: 590px){
  .dashboardrewards{
    .moneytable{
      .setir{  
        .sutun{
          font-size: 11px;       
        }
        .sutunheader{       
          font-size: 11px;        
        }
      }
    }
  }
}


@media only screen and (max-width: 730px){
  .dashboardrewards{
    padding-left:20px;
    .threedivs{
      .threedivsitem{
        width:80px;
        font-size:13px;
      }
    }

    
  }
}
