.about{
  background: #fff;
  color: #0C282A;
  font-weight: 200;
  font-family: 'Noto Sans', sans-serif;
  font-size:20px;
  font-style: normal;
  padding-top: 40px;
  padding-bottom: 45px;
  -webkit-margin:20px 0px;
   -moz-margin:20px 0px;
     -o-margin:20px 0px;
  .page-main-title {
    font-weight: 900;
    font-size: 45px;
    color: #0C282A;
    font-family: 'Noto Sans', sans-serif;
}


  
}