
/*@font-face {
  font-family: "HCo Gotham SSm";
  src: url("./Gotham-Font/GothamBold.ttf") format("ttf"),
  url("./woff/GothamSSm-Medium_Web.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}*/
