*{
  margin:0px;
  padding:0px;
  font-family: 'Noto Sans', sans-serif;
  
}


body{
  //background:#1B1B1D;
  font-weight: normal;    
  background: #0E344B;
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom:0px;
}
button{
  outline: none;
  border:none;
}
button:focus{
  border: none;
  outline:none;
}




#root{
  margin: 0px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  background: #0E344B;
  color: #FFFFFF;
  margin-bottom:0px;
}



.parent {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-bottom:0px;
}




